@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}
.navbar a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    margin-bottom: 25.5px;
    margin-top: 25.5px;
    padding-right: 72px;
    text-decoration: none;
}
ul > li {
    display: inline-block;
}


.photo {
    width: 100%;
    height: 789px;
    left: 0px;
    top: 78px;
}
.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.button-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.button {
    background: #FF0000;
    margin-top: 66px;
}
.text-bot {
    font-family: 'Montserrat';
    text-align: right;
    margin-right: 105px;
    margin-bottom: 29px;
    margin-top: 82px;
    margin-left: 713px;
    letter-spacing: 2.4px;

    color: #373737;
}
